[user]
	email = tristan.hessell@gmail.com
	name = thessell
	signingKey = 8959DD25EB6B2565
[core]
	editor = vi
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = false
	trustExitCode = true
[alias]
    lg = !"git lg-interactive"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg-interactive = !~/scripts/git-log.sh

[push]
	default = current
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
